<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <h1 innerHTML="{{ title }}"></h1>
      <form #f="ngForm" (submit)="create()">
        <div class="form-group">
          <label for="name">Project name</label>
          <input class="form-control" required type="text" placeholder="Project name" [(ngModel)]="project.name" name="name" />
        </div>
        <div class="form-group">
          <label for="tags">Applicable tags for annotation</label>
          <input class="form-control" required type="text" placeholder="Coma separated list of classes to annotate" (keyup)="onTagChange()" [(ngModel)]="tags" name="tags" />
        </div>
        <div class="form-group">
          <label for="description">Description text</label>
          <textarea class="form-control" required placeholder="Type a description about the project" [(ngModel)]="project.description" name="description"></textarea>
        </div>

        <div class="form-group">
          <label for="imageProvider">Choose an image provider that will fetch image to annotate</label>
          <select (change)="onProviderChange()" name="imageProvider" class="form-control" [(ngModel)]="project.imageProvider">
             <option value="filesystem">Directory</option>
             <option value="qwant">Qwant image search</option>
           </select>
        </div>

        <div class="form-group" name="fs-options" *ngIf="project.imageProvider == 'filesystem'">
          <label for="zipfile">Put image archive (.zip, .tar.gz, .tar.bz2)</label>
          <input type="file" class="form-control" name="zipfile" [(ngModel)]="project.imageProviderOptions.file" required/>
        </div>

        <div class="form-group" name="qwant-options" *ngIf="project.imageProvider == 'qwant'">
          <label for="qwant-query">Qwant search query string</label>
          <input type="text" name="qwant-query" class="form-control" placeholder="Qwant query, eg. Dog Cat" [(ngModel)]="project.imageProviderOptions.qwantQuery" required/>
        </div>

        <div class="form-group">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </form>

      <div *ngIf="!edit">
        <p>You'll be able to share the project with other user as soon as you created the project</p>
      </div>
      <div *ngIf="edit">
        <p>You may propose to other to annotate the project with you</p>
        <input type="text" class="form-control"
          [(ngModel)]="contribSearch"
          [inputFormatter]="searchFormatter"
          [resultTemplate]="rt"
          [ngbTypeahead]="searchContributor"/><button class="btn btn-success" (click)="addContributor()">add</button>
        <span *ngIf="!searching"><i class="material-icons rotating" style="float: right; margin-top: -2.2rem; margin-right: 1rem;">refresh</i></span>
        <ul>
          <li *ngFor="let c of contributors">{{ c.username }} - {{ c.id }} <button class="btn btn-danger material-icons">delete</button></li>
        </ul>
        <pre>{{ contribSearch | json }}</pre>
      </div>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.username}} - {{ r.id }}
</ng-template>
