/* You can add global styles to this file, and also import other style files */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid var(--success); /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid var(--danger); /* red */
}
