
<div class="">
  <h1>Imannotate</h1>

  <video class="text-center video" src="./assets/ui-cut.webm" loop controls autoplay></video>
  <p>Imannotate is an image annotation tool. It allows to select objects, animals, humans or anything else in an image, to put a label on the selection, and to record this information.</p>

  <p>Annotating images is necessary in several areas such as machine learning and more specifically with regard to R-CNN. Indeed, this kind of learning requires having the coordinates encapsulating an entity in order to learn to find it in the so-called "inference" phase.</p>


  <p>Imannotate is an easy-to-use web application for integrating content providers such as S3, image search API, file system, and more. You can also allow other users to annotate images on your project.</p>

  <p>Imannotate is an open source project of <a href="https://www.smile.eu/en/innovation" target="_blank">Smile Innovation</a></p>

</div>

