<div class="container align-self-center">
  <h1>Signup !</h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis turpis elit, ac laoreet turpis varius eget. Cras justo nisl, viverra non fermentum a, dapibus sed velit. Donec efficitur arcu id est rutrum dapibus. Duis orci urna, molestie sit amet sodales luctus, malesuada non elit. Praesent tincidunt ultricies justo non sagittis. Fusce condimentum metus a ligula hendrerit blandit. Cras vel molestie diam. Praesent ac dui neque. Morbi condimentum congue orci, ut imperdiet nisi venenatis ac. Donec aliquet blandit lectus, pulvinar porta mi sollicitudin pellentesque. Quisque iaculis nisi in urna pretium sollicitudin. Maecenas congue purus purus, non molestie magna tempor id.
  </p>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Username"
      [(ngModel)]="user.username">
    <input class="form-control" type="text" placeholder="Email"
      [(ngModel)]="user.email">
    <input class="form-control" type="password" placeholder="Password"
      [(ngModel)]="user.password">
    <button class="btn btn-success" (click)="signup()">Signup</button>
  </div>
</div>
