<div class="container">
  <div class="row justify-content-md-center text-center">
    <div class="col col-md-6">
      <img src="/assets/logo-dark.svg" class="logo"/>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <h1>Signup Imannotate</h1>
      <form #f="ngForm" (submit)="signup()" *ngIf="!registered">
        <div class="form-group">
          <input class="form-control"
                 (keyup)="search()"
                 (change)="search()"
                 type="text" placeholder="Username"
                 [(ngModel)]="user.username"
                 name="username"
                 #username="ngModel"
                 min-length="3"
                 required />
          <div *ngIf="userExists" class="alert alert-danger">User {{ user.username }} already exists</div>

        </div>
        <div class="form-group">
          <input class="form-control" name="email" type="email" placeholder="Email"
            [(ngModel)]="user.email" required />
        </div>
        <div class="form-group">
          <input class="form-control" name="password" type="password" placeholder="Password"
            [(ngModel)]="user.password" min-length="6" required />
        </div>
          <button type="submit" class="btn btn-success" [disabled]="f.status=='INVALID' || userExists">Signup</button>
      </form>
      <div class="alert alert-success" *ngIf="registered">You've been registered ! You can now <a href="/signin">signin</a>.</div>
    </div>
  </div>
</div>
