<div class="container justify-content-center mt-2">

  <div class="row">
    <div class="col-md-9" id="annotator" ></div>

    <div class="col-md-3">
      <div class="col annotate-actions">
        <button class="btn btn-success" (click)="saveAnnotation()">Next</button>
        <button class="btn btn-warning">Stop</button>
      </div>
      <div class="col align-items-center justify-content-center mt-3">
          <span
            *ngFor="let label of project.tags"
            class="badge badge-pill badge-success mr-1"
            (click)="setLabel(label)">{{ label }}</span>
      </div>
    </div>
  </div>
</div>

