.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

main {
  overflow: auto;
  height: 100vh;
  padding-top: 2em;
  /* touch-action: pan-y !important; */
}

main ~ .overlay {
  height: 100vh;
  width: 100vw;
  background-color: var(--gray-dark);
  position: absolute;
  display: none;
  opacity: .5;
}

main.overlayed ~ .overlay {
  display: block;
}

.navbar-toggler {
  position: absolute;
  z-index: 2;
  color: var(--gray-dark);
}

.navbar-toggler:focus, .navbar-toggler:active {
  border: none !important;
  outline: none;
}

main.overlayed ~ .navbar-toggler {
  color: var(--white) !important;
}

@media (min-width: 768px) {
  main {
    padding-top: initial;
  }

  main.overlayed {
    padding-top: 2em;
  }

  main.overlayed ~ .overlay {
    display: none;
  }

  .navbar-toggler {
    position: absolute;
    z-index: 2;
    color: var(--white);
  }

  main.overlayed ~ .navbar-toggler {
    color: var(--gray-dark) !important;
  }
}
