<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col col-md-6">
      <img src="/assets/logo.svg" class="logo"/>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col col-md-6">
      <h1>Signin Imannotate</h1>
      <div class="alert alert-warning" *ngIf="error">Bad login or password</div>
      <form #f="ngForm" (submit)="doLogin()">
        <div class="form-group">
          <input class="form-control" required type="text" placeholder="Username" [(ngModel)]="user.username" name="username"/>
        </div>
        <div class="form-group">
          <input class="form-control" required type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
        </div>
        <button class="btn btn-success" type="submit">Signin</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center text-center mt-3">
    <div class="col-md-6">
      <p>Not registered yet ? </p>
      <a class="btn btn-info" routerLink="/signup">Signup</a>
    </div>
  </div>
</div>
