.nav-item .material-icons, .gravatar {
	margin: -0.2em .2em 0 0;
	position: relative;
	float: left;
}

#sidebar .logo img, #sidebar {
  transition: all 200ms ease-in-out;
}

#sidebar .logo img {
  max-width: 80%;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

@media (max-width: 768px) {
  #sidebar {
    position: absolute;
    z-index: 1;
    box-shadow: 16px 0 20px -4px rgba(0, 0, 0, 0.3);
  }
  #sidebar.active {
    box-shadow: none;
  }
}

#sidebar.active {
    min-width: 70px;
    max-width: 70px;
}

#sidebar.active ~ nav + main {
  opacity: .5
}

.navbar-toggler {
  flex: 0;
}

#sidebar.active .navbar-toggler {
  /*align-self: auto !important;*/
}

#sidebar .navbar-nav {
  opacity: 1;
}

#sidebar.active .navbar-nav {
  opacity: 1;
}

#sidebar.active .item-text {
  opacity: 0
}

#sidebar.active .made-by {
  display: none;
}


.navbar-bottom a, .navbar-bottom .material-icons {
  color: var(--yellow);
}


.navbar-bottom .material-icons {
  font-size: .9rem;
}

.gravatar {
  border-radius: 100%;
  max-width: 24px;
}

.nav-item {
  z-index: 1;
}
